*                         text=auto
/.github                  export-ignore
/Resources/Private/Libs   export-ignore
/Tests                    export-ignore
/.crowdin.yaml            export-ignore
/.editorconfig            export-ignore
/.editorconfig-lint.php   export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/.php-cs-fixer.php        export-ignore
/captainhook.json         export-ignore
/codecov.yml              export-ignore
/CODEOWNERS               export-ignore
/dependency-checker.json  export-ignore
/packaging_exclude.php    export-ignore
/phpstan.neon             export-ignore
/phpunit.ci.xml           export-ignore
/phpunit.xml              export-ignore
