/.Build
/config
/Tests/Build/Configuration/*
!/Tests/Build/Configuration/system/
/Tests/Build/Configuration/system/*
!/Tests/Build/Configuration/system/services.php
/var/
/Resources/Private/Libs/Build/vendor
/Resources/Private/Libs/vendors.phar
/.php-cs-fixer.cache
/.phpunit.result.cache
/composer.lock
