includes:
	- .Build/vendor/phpstan/phpstan-phpunit/extension.neon
	- .Build/vendor/phpstan/phpstan-symfony/extension.neon
	- .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
	bootstrapFiles:
		- .Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php
	level: max
	paths:
		- Classes
		- Configuration
		- Tests
	excludePaths:
		- Tests/Build/console-application.php
	symfony:
		consoleApplicationLoader: Tests/Build/console-application.php
