includes:
	- .Build/vendor/jangregor/phpstan-prophecy/extension.neon
	- .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
	bootstrapFiles:
		- .Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php
	level: 8
	paths:
		- Classes
		- Configuration
		- Tests
