parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc type array\\<string, array\\<string, array\\<string, array\\<string, string\\>\\>\\|string\\>\\> of property EliasHaeussler\\\\Typo3Warming\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\CacheWarmupProvider\\:\\:\\$itemsConfiguration is not the same as PHPDoc type array of overridden property TYPO3\\\\CMS\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\PageProvider\\:\\:\\$itemsConfiguration\\.$#"
			count: 1
			path: Classes/Backend/ContextMenu/ItemProviders/CacheWarmupProvider.php

		-
			message: "#^Parameter \\#1 \\$items \\(array\\<string, array\\<string, mixed\\>\\>\\) of method EliasHaeussler\\\\Typo3Warming\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\CacheWarmupProvider\\:\\:addItems\\(\\) should be contravariant with parameter \\$items \\(array\\) of method TYPO3\\\\CMS\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\ProviderInterface\\:\\:addItems\\(\\)$#"
			count: 1
			path: Classes/Backend/ContextMenu/ItemProviders/CacheWarmupProvider.php

		-
			message: "#^Parameter \\#1 \\$items \\(array\\<string, array\\<string, mixed\\>\\>\\) of method EliasHaeussler\\\\Typo3Warming\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\CacheWarmupProvider\\:\\:addItems\\(\\) should be contravariant with parameter \\$items \\(array\\) of method TYPO3\\\\CMS\\\\Backend\\\\ContextMenu\\\\ItemProviders\\\\RecordProvider\\:\\:addItems\\(\\)$#"
			count: 1
			path: Classes/Backend/ContextMenu/ItemProviders/CacheWarmupProvider.php

		-
			message: "#^Call to function is_object\\(\\) with EliasHaeussler\\\\Typo3Warming\\\\Sitemap\\\\Provider\\\\Provider will always evaluate to true\\.$#"
			count: 1
			path: Classes/Sitemap/SitemapLocator.php

		-
			message: "#^PHPDoc type EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Acceptance\\\\Support\\\\AcceptanceTester of property EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Acceptance\\\\Support\\\\Helper\\\\ModalDialog\\:\\:\\$tester is not the same as PHPDoc type TYPO3\\\\CMS\\\\Core\\\\Tests\\\\Acceptance\\\\Support\\\\ApplicationTester of overridden property TYPO3\\\\TestingFramework\\\\Core\\\\Acceptance\\\\Helper\\\\AbstractModalDialog\\:\\:\\$tester\\.$#"
			count: 1
			path: Tests/Acceptance/Support/Helper/ModalDialog.php

		-
			message: "#^PHPDoc type EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Acceptance\\\\Support\\\\AcceptanceTester of property EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Acceptance\\\\Support\\\\Helper\\\\PageTree\\:\\:\\$tester is not the same as PHPDoc type AcceptanceTester of overridden property TYPO3\\\\TestingFramework\\\\Core\\\\Acceptance\\\\Helper\\\\AbstractPageTree\\:\\:\\$tester\\.$#"
			count: 1
			path: Tests/Acceptance/Support/Helper/PageTree.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFalse\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: Tests/Functional/Cache/SitemapsCacheTest.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\) of method EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Functional\\\\Fixtures\\\\Classes\\\\DummyLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\AbstractLogger\\:\\:log\\(\\)$#"
			count: 1
			path: Tests/Functional/Fixtures/Classes/DummyLogger.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\) of method EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Functional\\\\Fixtures\\\\Classes\\\\DummyLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 1
			path: Tests/Functional/Fixtures/Classes/DummyLogger.php

		-
			message: "#^Parameter \\#3 \\$context \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Functional\\\\Fixtures\\\\Classes\\\\DummyLogger\\:\\:log\\(\\) should be contravariant with parameter \\$context \\(array\\) of method Psr\\\\Log\\\\AbstractLogger\\:\\:log\\(\\)$#"
			count: 1
			path: Tests/Functional/Fixtures/Classes/DummyLogger.php

		-
			message: "#^Parameter \\#3 \\$context \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Functional\\\\Fixtures\\\\Classes\\\\DummyLogger\\:\\:log\\(\\) should be contravariant with parameter \\$context \\(array\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 1
			path: Tests/Functional/Fixtures/Classes/DummyLogger.php

		-
			message: "#^EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Functional\\\\Fixtures\\\\Classes\\\\DummyPackageManager\\:\\:__construct\\(\\) does not call parent constructor from TYPO3\\\\CMS\\\\Core\\\\Package\\\\PackageManager\\.$#"
			count: 1
			path: Tests/Functional/Fixtures/Classes/DummyPackageManager.php

		-
			message: "#^Parameter \\#3 \\$providers of class EliasHaeussler\\\\Typo3Warming\\\\Sitemap\\\\SitemapLocator constructor expects iterable\\<EliasHaeussler\\\\Typo3Warming\\\\Sitemap\\\\Provider\\\\Provider\\>, array\\<int, stdClass\\> given\\.$#"
			count: 1
			path: Tests/Functional/Sitemap/SitemapLocatorTest.php

		-
			message: "#^Parameter \\#3 \\$providers of class EliasHaeussler\\\\Typo3Warming\\\\Sitemap\\\\SitemapLocator constructor expects iterable\\<EliasHaeussler\\\\Typo3Warming\\\\Sitemap\\\\Provider\\\\Provider\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: Tests/Functional/Sitemap/SitemapLocatorTest.php

		-
			message: "#^EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Unit\\\\Fixtures\\\\DummyRequestFactory\\:\\:__construct\\(\\) does not call parent constructor from TYPO3\\\\CMS\\\\Core\\\\Http\\\\RequestFactory\\.$#"
			count: 1
			path: Tests/Unit/Fixtures/DummyRequestFactory.php

		-
			message: "#^Parameter \\#3 \\$options \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Unit\\\\Fixtures\\\\DummyRequestFactory\\:\\:request\\(\\) should be contravariant with parameter \\$options \\(array\\) of method TYPO3\\\\CMS\\\\Core\\\\Http\\\\RequestFactory\\:\\:request\\(\\)$#"
			count: 1
			path: Tests/Unit/Fixtures/DummyRequestFactory.php

		-
			message: "#^EliasHaeussler\\\\Typo3Warming\\\\Tests\\\\Unit\\\\Fixtures\\\\DummySiteFinder\\:\\:__construct\\(\\) does not call parent constructor from TYPO3\\\\CMS\\\\Core\\\\Site\\\\SiteFinder\\.$#"
			count: 1
			path: Tests/Unit/Fixtures/DummySiteFinder.php
