<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="dropdown-table-row">
    <div class="text-muted" style="pointer-events: none">
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon dropdown-table-icon-spinner-circle-light">
            <c:icon identifier="spinner-circle-light" size="small" />
        </div>
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
            <f:translate key="cacheWarmupToolbarItem.loading" />
        </div>
    </div>
</div>

</html>
