<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<a href="#"
   class="toolbar-item-link"
   title="{f:translate(key: 'LLL:EXT:warming/Resources/Private/Language/locallang.xlf:cacheWarmupToolbarItem.title')}"
>
    <span class="toolbar-item-icon">
        <c:icon identifier="cache-warmup-toolbar" size="small" alternativeMarkupIdentifier="inline" />
    </span>
    <span class="toolbar-item-title">
        <f:translate key="LLL:EXT:warming/Resources/Private/Language/locallang.xlf:cacheWarmupToolbarItem.title" />
    </span>
</a>

</html>
