<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<h3 class="dropdown-headline">
    <f:translate key="cacheWarmupToolbarItem.title" />
</h3>

<hr>

<div class="toolbar-cache-warmup-table-wrapper">
    <div class="dropdown-table">
        <f:render partial="ToolbarItemPlaceholder" />
    </div>
</div>

<hr>

<f:render partial="ToolbarItemUserAgent" arguments="{userAgent: userAgent}" />

</html>
