name: CGL
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer:v2, composer-require-checker, composer-unused

      # Validation
      - name: Validate composer.json
        run: composer validate --no-check-lock

      # Install dependencies
      - name: Install Composer dependencies
        run: composer update --no-progress --no-plugins --no-scripts

      # Check Composer dependencies
      - name: Check dependencies
        run: composer-require-checker check --config-file dependency-checker.json
      - run: composer install --no-progress
      - name: Check for unused dependencies
        run: composer-unused

      # Linting
      - name: Lint composer.json
        run: composer lint:composer -- --dry-run
      - name: Lint Editorconfig
        run: .Build/bin/ec --finder-config .editorconfig-lint.php
      - name: Lint PHP
        run: composer lint:php -- --dry-run
      - name: Lint TypoScript
        run: composer lint:typoscript -- --fail-on-warnings

      # SCA
      - name: SCA PHP
        run: composer sca:php -- --error-format github

      # Install Frontend dependencies
      - name: Install Frontend dependencies
        run: yarn --cwd Resources/Private/Frontend --frozen-lockfile

      # Frontend linting
      - name: Lint SCSS
        run: yarn --cwd Resources/Private/Frontend lint:scss
      - name: Lint TypeScript
        run: yarn --cwd Resources/Private/Frontend lint:ts

      # Migration
      - name: Run Rector migration
        run: composer migration:rector -- --dry-run
