name: Tests
on: [push, pull_request]

jobs:
  tests:
    name: PHP ${{ matrix.php-version }} & TYPO3 ${{ matrix.typo3-version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - typo3-version: 10.4
            php-version: 7.3
          - typo3-version: 10.4
            php-version: 7.4
          - typo3-version: 11.5
            php-version: 7.4
          - typo3-version: 11.5
            php-version: 8.0
            coverage: 1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: xdebug

      # Define Composer cache
      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Define Composer cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: tests-php-${{ matrix.php-version }}-typo3-${{ matrix.typo3-version }}
          restore-keys: |
            tests-php-${{ matrix.php-version }}-typo3-

      # Install dependencies
      - name: Install TYPO3 and Composer dependencies
        run: composer require typo3/cms-core:"^${{ matrix.typo3-version }}" --no-progress

      # Run tests
      - name: Run tests
        run: composer test:ci -- --coverage-text

      # Report coverage
      - name: Fix coverage path
        working-directory: .Build/log/coverage
        run: sed -i 's/\/home\/runner\/work\/typo3-warming\/typo3-warming\//\/github\/workspace\//g' clover.xml
        if: ${{ matrix.coverage }}
      - name: Run SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{ matrix.coverage }}

  tests-lowest:
    name: '[test-lowest] PHP ${{ matrix.php-version }} & TYPO3 ${{ matrix.typo3-version }}'
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - typo3-version: 10.4
            php-version: 7.3
          - typo3-version: 10.4
            php-version: 7.4
          - typo3-version: 11.5
            php-version: 7.4
          - typo3-version: 11.5
            php-version: 8.0
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: xdebug

      # Define Composer cache
      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Define Composer cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: tests-lowest-php-${{ matrix.php-version }}-typo3-${{ matrix.typo3-version }}
          restore-keys: |
            tests-lowest-php-${{ matrix.php-version }}-typo3-

      # Install dependencies
      - name: Install TYPO3 and Composer dependencies
        run: composer require typo3/cms-core:"^${{ matrix.typo3-version }}" --prefer-lowest --no-progress

      # Run tests
      - name: Run tests
        run: composer test:ci -- --coverage-text
